<%- include ("partials/dashboard_a.ejs") %>

<body>
    <div class="title-bar">
        <nav class="navbar navbar-expand-lg">
            <a href="#" class="navbar-brand" ></a>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
                <span class="navbar-toggler-icon"></span>
            </button>
           
            <div class="collapse navbar-collapse justify-content-end" id="navbarMenu">
                <ul class="navbar-nav ">
    
                    <li class="nav-item">
                    <a href="#" class="navbar nav-link"></a>
                    </li>
                    <div class="topnav-right">
                        <li class="nav-item">
                            <a href="#" class="navbar nav-link" style="padding:10px; background-color:#383835; ">Logout</a>
                        </li>
                    </div>
                    
                </ul>
            </div>
        </nav>

    </div>

    <div class="sidenav" >
        
        <a href="/admin/placements" style="margin-top: 100px;">Placement</a>

        <a href="#"></a> 




    </div>

    
    <div class="container bg-light" style="width:500px">
        <form action="/admin/dashboard" method="POST" validate>
        
    
            <h4 style="text-align:center; margin-bottom: 30px; margin-top: 30px;" >Add Time Slot</h4>
            <div class="profile-box">
    
    
            

        


            <label for="time">Start of Batch</label>
            <input type="date" id="time" name="time" >
          


    

            <div class="form-group" style="margin-top: 50px;">
                <label for="time_slot">Time Slot</label>
         
            </div>
            <div>

      
            <button name="subject" type="submit" value="0" class=" btn btn-outline-primary" style="width:100px">7-8 am</button>
            <button name="subject" type="submit" value="1" class=" btn btn-outline-primary" style="width:100px">8-9 am</button>
            <button name="subject" type="submit" value="2" class=" btn btn-outline-primary"style="width:100px">9-10 am</button>
            <button name="subject" type="submit" value="3" class=" btn btn-outline-primary"style="width:100px">11-12 am</button>
            <button name="subject" type="submit" value="4" class=" btn btn-outline-primary"style="width:100px">1-2 pm</button>
            <button name="subject" type="submit" value="5" class=" btn btn-outline-primary"style="width:100px">2-3 pm</button>
            <button name="subject" type="submit" value="6" class=" btn btn-outline-primary"style="width:100px">3-4 pm</button>
            <button name="subject" type="submit" value="7" class=" btn btn-outline-primary"style="width:100px">4-5 pm</button>
            <button name="subject" type="submit" value="8" class=" btn btn-outline-primary"style="width:100px">5-6 pm</button>
            <button name="subject" type="submit" value="8" class=" btn btn-outline-primary"style="width:100px">6-7 pm</button>
            <button name="subject" type="submit" value="8" class=" btn btn-outline-primary"style="width:100px">7-8 pm</button>
        
            </div>

            <button type="submit" class="btn btn-primary" style="margin-top: 30px;">Submit</button>
            
        </div>
            
        </form>
        </div>

       
<%- include ("partials/footer.ejs") %>
    
</body>
    

</html>



  