<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>SpicyX | Home</title>
    <link rel="shortcut icon" href="images/nudge_logo.png" type="image/x-icon" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link id="changeable-colors" rel="stylesheet" href="css/colors/yellow.css" />
    <script src="js/modernizer.js"></script>
</head>

<body>
    <div id="loader">
        <div id="status"></div>
    </div>

    <div id="site-header">
        <header id="header" class="header-block-top">
            <div class="container">
                <div class="row">
                    <div class="main-menu">
                        <!-- navbar -->
                        <nav class="navbar navbar-default" id="mainNav">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <div class="logo">
                                    <a class="navbar-brand js-scroll-trigger logo-header" href="#">
                                        <img src="images/logo.jpg" alt="" height="80px" width="130px">
                                    </a>
                                </div>
                            </div>
                            <div id="navbar" class="navbar-collapse collapse">
                                <ul class="nav navbar-nav navbar-right">
                                    <li class="active"><a href="#banner">HOME</a></li>
                                    <li><a href="#about">ABOUT</a></li>
                                    <li><a href="#reservation">TEAM</a></li>
                                    <li><a href="#footer">CONTACT US</a></li>
                                    <li><a href="login.html" id="nav_button">LOGIN</a></li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </header>
    </div>

    <div id="banner" class="banner full-screen-mode parallax">
        <br><br><br><br><br><br><br><br>
        <h1>HOME PAGE</h1>
        <h1>HOME PAGE</h1>
        <h1>HOME PAGE</h1>
        <h1>HOME PAGE</h1>
        <h1>HOME PAGE</h1>
        <br><br><br><br><br><br><br><br>
    </div>
    <div id="about" class="banner full-screen-mode parallax">
        <h1>ABOUT PAGE</h1>
        <h1>ABOUT PAGE</h1>
        <h1>ABOUT PAGE</h1>
        <h1>ABOUT PAGE</h1>
        <h1>ABOUT PAGE</h1>
    </div>

    <section id="color-panel" class="close-color-panel">
        <a class="panel-button gray2"><i class="fas fa-palette fa-2x"></i></a>
        <div class="segment">
            <h4 class="gray2 normal no-padding">Color Scheme</h4>
            <a title="yellow" class="switcher yellow-bg"></a>
            <a title="orange" class="switcher orange-bg"></a>
            <a title="strong-blue" class="switcher strong-blue-bg"></a>
            <a title="moderate-green" class="switcher moderate-green-bg"></a>
            <a title="vivid-yellow" class="switcher vivid-yellow-bg"></a>
        </div>
    </section>

    <!-- ALL JS FILES -->
    <script src="js/all.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <script src="js/custom.js"></script>
</body>

</html>
