<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>THE/NUDGE</title>
    <link rel="shortcut icon" href="images/nudge_logo.png" type="image/x-icon" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link id="changeable-colors" rel="stylesheet" href="css/colors/yellow.css" />
    <script src="js/modernizer.js"></script>
</head>

<body>
    <div id="loader">
        <div id="status"></div>
    </div>

    <div id="site-header">
        <header id="header" class="header-block-top">
            <div class="container">
                <div class="row">
                    <div class="main-menu">
                        <!-- navbar -->
                        <nav class="navbar navbar-default" id="mainNav">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <div class="logo">
                                    <a class="navbar-brand js-scroll-trigger logo-header" href="#">
                                        <img src="images/logo.jpg" alt="" height="50px" width="130px" style="margin:0;padding:0;">
                                    </a>
                                </div>
                            </div>
                            <div id="navbar" class="navbar-collapse collapse">
                                <ul class="nav navbar-nav navbar-right">
                                    <li class="active"><a href="#banner">HOME</a></li>
                                    <li><a href="#about">ABOUT</a></li>
                                    <li><a href="#gallery">GALLERY</a></li>
                                    <li><a href="#team">TEAM</a></li>
                                    <li><a href="#contact">CONTACT US</a></li>
                                    <li><a href="#login" id="nav_button">LOGIN</a></li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </header>
    </div>

    <section id="color-panel" class="close-color-panel">
        <a class="panel-button gray2"><i class="fas fa-palette fa-2x"></i></a>
        <div class="segment">
            <h4 class="gray2 normal no-padding">Color Scheme</h4>
            <a title="yellow" class="switcher vivid-yellow-bg"></a>
            <a title="orange" class="switcher orange-bg"></a>
            <a title="strong-blue" class="switcher strong-blue-bg"></a>
            <a title="moderate-green" class="switcher moderate-green-bg"></a>
        </div>
    </section>

    <div id="banner" class="banner full-screen-mode parallax">
        <div class="container">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >
                <div class="banner-static">
                    <div class="banner-text">
                        <div class="banner-cell">
                          <h1>
                            <span>WE EXIST TO ALLEVIATE</span>
                            <div class="message">
                              <div class="word1">POVERTY</div>
                              <div class="word2">ILLITERACY</div>
                              <div class="word3">UNEMPLOYMENT</div>
                            </div>
                          </h1>
                            <p>The/Nudge Foundation is a collective of some of India’s brightest entrepreneurs, leaders and change-makers, tackling the greatest human development challenge of our times - <span style="font-weight:bold;">POVERTY</span> </p>
                            <div class="book-btn">
                                <a href="#login" class="table-btn hvr-underline-from-center" id="nav_button">Login</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="about" class="banner full-screen-mode parallax" style="background:#fff;">
        <div class="row">
          <div class="col-md-6 order-md-6">
            <img src="https://etimg.etb2bimg.com/photo/61975413.cms" alt="" class="w-100" style="border-radius: 450px;margin-left:20%;margin-top:5%;" height="500px" width="500px"/>
          </div>
          <div class="col-md-6 order-md-1">
            <div class="row align-items-center h-100">
              <div class="col" style="margin-right:120px;">
                <br><br><br><br><br>
                <h2 class="block-title text-center" style="color:black;">About Us</h2>
                <p class="lead">The purpose of The Nudge is to reduce poverty by helping the less-fortunate people build a strong life, learn skills, and earn a living. In other words, the goal is to enable them to break free from the cycle of poverty.</p>
                <br><br>
              </div>
            </div>
        </div>
      </div>
    </div>
  <br><br><br><br>

    <!-- GALLERY -->
    <div id="gallery" class="gallery-main pad-top-100 pad-bottom-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h2 class="block-title text-center">Our Gallery</h2>
                    </div>
                    <div class="gal-container clearfix">
                        <div class="col-md-8 col-sm-12 co-xs-12 gal-item">
                            <div class="box">
                                <a href="#" data-toggle="modal" data-target="#1">
                                    <img src="images/gallery_01.jpg" alt="" />
                                </a>
                                <div class="modal fade" id="1" tabindex="-1" role="dialog">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                            <div class="modal-body">
                                                <img src="images/gallery_01.jpg" alt="" />
                                            </div>
                                            <div class="col-md-12 description">
                                                <h4>This is the 1 one on my Gallery</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
                            <div class="box">
                                <a href="#" data-toggle="modal" data-target="#2">
                                    <img src="images/gallery_02.jpg" alt="" />
                                </a>
                                <div class="modal fade" id="2" tabindex="-1" role="dialog">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                            <div class="modal-body">
                                                <img src="images/gallery_02.jpg" alt="" />
                                            </div>
                                            <div class="col-md-12 description">
                                                <h4>This is the 2 one on my Gallery</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
                            <div class="box">
                                <a href="#" data-toggle="modal" data-target="#3">
                                    <img src="images/gallery_03.jpg" alt="" />
                                </a>
                                <div class="modal fade" id="3" tabindex="-1" role="dialog">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                            <div class="modal-body">
                                                <img src="images/gallery_03.jpg" alt="" />
                                            </div>
                                            <div class="col-md-12 description">
                                                <h4>This is the 3 one on my Gallery</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
                            <div class="box">
                                <a href="#" data-toggle="modal" data-target="#4">
                                    <img src="images/gallery_04.jpg" alt="" />
                                </a>
                                <div class="modal fade" id="4" tabindex="-1" role="dialog">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                            <div class="modal-body">
                                                <img src="images/gallery_04.jpg" alt="" />
                                            </div>
                                            <div class="col-md-12 description">
                                                <h4>This is the 4 one on my Gallery</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
                            <div class="box">
                                <a href="#" data-toggle="modal" data-target="#5">
                                    <img src="images/gallery_05.jpg" alt="" />
                                </a>
                                <div class="modal fade" id="5" tabindex="-1" role="dialog">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                            <div class="modal-body">
                                                <img src="images/gallery_05.jpg" alt="" />
                                            </div>
                                            <div class="col-md-12 description">
                                                <h4>This is the 5 one on my Gallery</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
                            <div class="box">
                                <a href="#" data-toggle="modal" data-target="#9">
                                    <img src="images/gallery_06.jpg" alt="" />
                                </a>
                                <div class="modal fade" id="9" tabindex="-1" role="dialog">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                            <div class="modal-body">
                                                <img src="images/gallery_06.jpg" alt="" />
                                            </div>
                                            <div class="col-md-12 description">
                                                <h4>This is the 6 one on my Gallery</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8 col-sm-12 co-xs-12 gal-item">
                            <div class="box">
                                <a href="#" data-toggle="modal" data-target="#10">
                                    <img src="images/gallery_07.jpg" alt="" />
                                </a>
                                <div class="modal fade" id="10" tabindex="-1" role="dialog">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                            <div class="modal-body">
                                                <img src="images/gallery_07.jpg" alt="" />
                                            </div>
                                            <div class="col-md-12 description">
                                                <h4>This is the 7 one on my Gallery</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    <div id="login" class="login-main pad-top-100 pad-bottom-100 parallax">
        <div class="container">
            <div class="row" style="padding:50px">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h2 class="block-title text-center" style="color:black;">Our login</h2>
                    <div class="login-box clearfix">

                            <div class="col-md-6 col-sm-6">
                                <div class="login-block">
                                    <div class="login-img-box">
                                        <img src="images/student.png" alt="" height="200px" width="200px" />
                                        <div class="overlay">
                                            <a href="/student/login"><i class="fa fa-link" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                    <div class="login-dit">
                                        <h2>STUDENT</h2>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6 col-sm-6">
                                <div class="login-block">
                                    <div class="login-img-box">
                                        <img src="images/teacher.png" alt="" height="200px" width="200px"/>
                                        <div class="overlay">
                                            <a href="/teacher/login"><i class="fa fa-link" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                    <div class="login-dit">
                                        <h2>TEACHER</h2>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3"></div>
                            <div class="col-md-6 col-sm-6" >
                                <div class="login-block">
                                    <div class="login-img-box">
                                        <img src="images/admin.png" alt="" height="200px" width="200px"/>
                                        <div class="overlay">
                                            <a href="/admin/login"><i class="fa fa-link" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                    <div class="login-dit">
                                        <h2>ADMIN</h2>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div id="contact">
      <div class="footer-box pad-top-70">
        <div class="container">
            <div class="row">
              <h2 class="block-title text-center" >Contact Us</h2>
                <div class="footer-in-main">
                    <div class="footer-logo">
                        <div class="text-center">
                            <img src="images/logo.png" alt="" />
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-8 col-xs-16" style="padding-left:13%;">
                      <p>
                          <i class="fa fa-map-signs" aria-hidden="true"></i>
                          <span>India</span>
                      </p>
                    </div>
                  <div class="col-lg-4 col-md-4 col-sm-8 col-xs-16" style="padding-left:13%;">
                        <div class="footer-box-b">
                          <p>
                              <i class="fa fa-mobile" aria-hidden="true"></i>
                              <span>0987654321</span>
                          </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-8 col-xs-16" style="padding-left:13%;">
                      <p>
                          <i class="fa fa-envelope" aria-hidden="true"></i>
                          <span><a href="#" style="color:#fff">support@trikar.com</a></span>
                      </p>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="copyright" class="copyright-main" style="background:black;">
            <div class="container">
                <div class="row">
                  <div class="col-lg-4 col-md-4 col-sm-8 col-xs-16"></div>
                  <div class="col-lg-4 col-md-4 col-sm-8 col-xs-16" style="padding-left:13%;">
                      <h6 class="copy-title" style="font-size:20px;"> Copyright &copy; TRIKAR <a href="#" target="_blank"></a> </h6>
                  </div>
                </div>
            </div>
        </div>
    </div>


    <!-- ALL JS FILES -->
    <script src="js/all.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <script src="js/custom.js"></script>
	<script>
		(function($) {
    "use strict";


			// SMOOTH SCROLL
		$('a[href*=#]:not([href=#])').click(function() {
			if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'')
				|| location.hostname == this.hostname) {

				var target = $(this.hash);
				target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
				   if (target.length) {
					 $('html,body').animate({
						 scrollTop: target.offset().top
					}, 1000);
					return false;
				}
			}
		});

		  $('body').scrollspy({
			target: '#mainNav',
			offset: 54
		  });

		$(window).on('scroll', function () {
			if ($(window).scrollTop() > 50) {
				$('.header-block-top').addClass('fixed-menu');
			} else {
				$('.header-block-top').removeClass('fixed-menu');
			}
		});

		// NAVBAR
		$('.navbar-nav li a').on("click", function(e) {
			$('.navbar-nav li').removeClass('active');
			var $parent = $(this).parent();
			if (!$parent.hasClass('active')) {
				$parent.addClass('active');
			}
		});

    // PRE-LOADER
		$(window).load(function() {
			$("#status").delay(800).fadeOut("slow");
			$("#loader").delay(800).fadeOut("slow");
		})

    // COLOUR PANEL
    $( "#color-panel .panel-button" ).click(function(){
     $( "#color-panel" ).toggleClass( "close-color-panel", "open-color-panel", 1000 );
     $( "#color-panel" ).toggleClass( "open-color-panel", "close-color-panel", 1000 );
     return false;
   });
   // Color Skins
   $('.switcher').click(function(){
     var title = jQuery(this).attr('title');
     jQuery('#changeable-colors').attr('href', 'css/colors/' + title + '.css');
     return false;
   });

})(jQuery);

	</script>


	</div>
	</body>
</html>
