
<%- include("partials/header_stud.ejs") %>
<!-- added by aadil u have to add the eligible company list for a student-->
<% for (var i =1; i <=4;  i++ ) { %>
		<button>Apply</button>
		<span><%=i%></span>
	<% } %>

 <%- include("partials/footer.ejs") %>
