
<%- include("partials/dashboard_s.ejs") %>

<div class="container" style="width:1000px ; float:right">
    <div class="row">
        <div class="col-md-4 ">
            <div class="card text-white bg-warning mb-3" style="max-width: 18rem; margin-top: 40px;";>
                <img src="https://images.pexels.com/photos/687824/pexels-photo-687824.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="card-img-top" style="height: 200px" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Batch 1 - (7am to 8am)</h5>


                <form method="GET" action="/student/dashboard">
<<<<<<< HEAD
                    <p>Select Level of Course</p>
                    <input type="radio" id="easy" name="level" value="easy">
                    <label for="easy">Easy</label><br>
                    <input type="radio" id="medium" name="level" value="medium">
                    <label for="medium">Medium</label><br>
                    <input type="radio" id="hard" name="level" value="hard">
                    <label for="hard">Hard</label>
=======
                  Easy
                  <input type="radio" name="easy" value="chkbox">
                  Medium
                  <input type="radio" name="medium" value="chkbox1">
                  Hard
                  <input type="radio" name="hard" value="chkbox2">

                  <button type="submit" class="btn btn-dark center">Book slot</button>
>>>>>>> a09c379818e8e3ccfa099ede0943f923dff17667
                </form>
                <button type="submit" class="btn btn-dark center">Go to Course</button>
                </div>
            </div>
        </div>

        <div class="col-md-4 ">
            <div class="card text-white bg-warning mb-3" style="max-width: 18rem; margin-top: 40px;";>
                <img src="https://images.pexels.com/photos/3672355/pexels-photo-3672355.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="card-img-top" style="height: 200px" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Batch 2 - (8am to 9am)</h5>
                  <form method="GET" action="/student/dashboard">
                    <p>Select Level of Course</p>
                    <input type="radio" id="easy" name="level" value="easy">
                    <label for="easy">Easy</label><br>
                    <input type="radio" id="medium" name="level" value="medium">
                    <label for="medium">Medium</label><br>
                    <input type="radio" id="hard" name="level" value="hard">
                    <label for="hard">Hard</label>
                </form>
                <button type="submit" class="btn btn-dark center">Go to Course</button>
                </div>
            </div>
        </div>

        <div class="col-md-4 ">
            <div class="card text-white bg-warning mb-3" style="max-width: 18rem; margin-top: 40px;";>
                <img src="https://images.pexels.com/photos/6148/brush-makeup-make-up-brushes.jpg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="card-img-top"style="height: 200px" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Batch 3 - (9am to 10am)</h5>
                  <form method="GET" action="/student/dashboard">
                    <p>Select Level of Course</p>
                    <input type="radio" id="easy" name="level" value="easy">
                    <label for="easy">Easy</label><br>
                    <input type="radio" id="medium" name="level" value="medium">
                    <label for="medium">Medium</label><br>
                    <input type="radio" id="hard" name="level" value="hard">
                    <label for="hard">Hard</label>
                </form>
                <button type="submit" class="btn btn-dark center">Go to Course</button>
                </div>
            </div>
        </div>

        
    </div>


    <div class="row">
        <div class="col-md-4 ">
            <div class="card text-white bg-warning mb-3" style="max-width: 18rem; margin-top: 40px;";>
                <img src="https://images.pexels.com/photos/2310904/pexels-photo-2310904.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="card-img-top"  style="height: 200px" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Batch 4 - (10am to 11am)</h5>
                  <form method="GET" action="/student/dashboard">
                    <p>Select Level of Course</p>
                    <input type="radio" id="easy" name="level" value="easy">
                    <label for="easy">Easy</label><br>
                    <input type="radio" id="medium" name="level" value="medium">
                    <label for="medium">Medium</label><br>
                    <input type="radio" id="hard" name="level" value="hard">
                    <label for="hard">Hard</label>
                </form>
                <button type="submit" class="btn btn-dark center">Go to Course</button>
                </div>
            </div>
        </div>

        <div class="col-md-4 ">
            <div class="card text-white bg-warning mb-3" style="max-width: 18rem; margin-top: 40px;";>
                <img src="https://images.pexels.com/photos/1005638/pexels-photo-1005638.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="card-img-top" style="height: 200px" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Batch 5 - (11am to 12am)</h5>
                  <form method="GET" action="/student/dashboard">
                    <p>Select Level of Course</p>
                    <input type="radio" id="easy" name="level" value="easy">
                    <label for="easy">Easy</label><br>
                    <input type="radio" id="medium" name="level" value="medium">
                    <label for="medium">Medium</label><br>
                    <input type="radio" id="hard" name="level" value="hard">
                    <label for="hard">Hard</label>
                </form>
                <button type="submit" class="btn btn-dark center">Go to Course</button>
                </div>
            </div>
        </div>

        <div class="col-md-4 ">
            <div class="card text-white bg-warning mb-3" style="max-width: 18rem; margin-top: 40px; ";>
                <img src="https://images.pexels.com/photos/7096/people-woman-coffee-meeting.jpg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="card-img-top" style="height: 200px;" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Batch 6 - (1pm to 2pm)</h5>
                  <form method="GET" action="/student/dashboard">
                    <p>Select Level of Course</p>
                    <input type="radio" id="easy" name="level" value="easy">
                    <label for="easy">Easy</label><br>
                    <input type="radio" id="medium" name="level" value="medium">
                    <label for="medium">Medium</label><br>
                    <input type="radio" id="hard" name="level" value="hard">
                    <label for="hard">Hard</label>
                </form>
                <button type="submit" class="btn btn-dark center">Go to Course</button>
                </div>
            </div>
        </div>

        

        
    </div>

    <div class="row">
        <div class="col-md-4 ">
            <div class="card text-white bg-warning mb-3" style="max-width: 18rem; margin-top: 40px;";>
                <img src="https://images.pexels.com/photos/687824/pexels-photo-687824.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="card-img-top" style="height: 200px" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Batch 7 - (2pm to 3pm)</h5>


                <form method="GET" action="/student/dashboard">
                    <p>Select Level of Course</p>
                    <input type="radio" id="easy" name="level" value="easy">
                    <label for="easy">Easy</label><br>
                    <input type="radio" id="medium" name="level" value="medium">
                    <label for="medium">Medium</label><br>
                    <input type="radio" id="hard" name="level" value="hard">
                    <label for="hard">Hard</label>
                </form>
                <button type="submit" class="btn btn-dark center">Go to Course</button>
                </div>
            </div>
        </div>

        <div class="col-md-4 ">
            <div class="card text-white bg-warning mb-3" style="max-width: 18rem; margin-top: 40px;";>
                <img src="https://images.pexels.com/photos/3672355/pexels-photo-3672355.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="card-img-top" style="height: 200px" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Batch 8 - (3pm to 4pm)</h5>
                  <form method="GET" action="/student/dashboard">
                    <p>Select Level of Course</p>
                    <input type="radio" id="easy" name="level" value="easy">
                    <label for="easy">Easy</label><br>
                    <input type="radio" id="medium" name="level" value="medium">
                    <label for="medium">Medium</label><br>
                    <input type="radio" id="hard" name="level" value="hard">
                    <label for="hard">Hard</label>
                </form>
                <button type="submit" class="btn btn-dark center">Go to Course</button>
                </div>
            </div>
        </div>

        
        <div class="col-md-4 ">
            <div class="card text-white bg-warning mb-3" style="max-width: 18rem; margin-top: 40px;";>
                <img src="https://images.pexels.com/photos/3672355/pexels-photo-3672355.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="card-img-top" style="height: 200px" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Batch 9 - (3pm to 4pm)</h5>
                  <form method="GET" action="/student/dashboard">
                    <p>Select Level of Course</p>
                    <input type="radio" id="easy" name="level" value="easy">
                    <label for="easy">Easy</label><br>
                    <input type="radio" id="medium" name="level" value="medium">
                    <label for="medium">Medium</label><br>
                    <input type="radio" id="hard" name="level" value="hard">
                    <label for="hard">Hard</label>
                </form>
                <button type="submit" class="btn btn-dark center">Go to Course</button>
                </div>
            </div>
        </div>



        
    </div>


    <div class="row">
        <div class="col-md-4 ">
            <div class="card text-white bg-warning mb-3" style="max-width: 18rem; margin-top: 40px;";>
                <img src="https://images.pexels.com/photos/687824/pexels-photo-687824.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="card-img-top" style="height: 200px" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Batch 10 - (4pm to 5pm)</h5>
                <form method="GET" action="/student/dashboard">
                    <p>Select Level of Course</p>
                    <input type="radio" id="easy" name="level" value="easy">
                    <label for="easy">Easy</label><br>
                    <input type="radio" id="medium" name="level" value="medium">
                    <label for="medium">Medium</label><br>
                    <input type="radio" id="hard" name="level" value="hard">
                    <label for="hard">Hard</label>
                </form>
                <button type="submit" class="btn btn-dark center">Go to Course</button>
                </div>
            </div>
        </div>

        <div class="col-md-4 ">
            <div class="card text-white bg-warning mb-3" style="max-width: 18rem; margin-top: 40px;";>
                <img src="https://images.pexels.com/photos/3672355/pexels-photo-3672355.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="card-img-top" style="height: 200px" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Batch 11 - (5pm to 6pm)</h5>
                  <form method="GET" action="/student/dashboard">
                    <p>Select Level of Course</p>
                    <input type="radio" id="easy" name="level" value="easy">
                    <label for="easy">Easy</label><br>
                    <input type="radio" id="medium" name="level" value="medium">
                    <label for="medium">Medium</label><br>
                    <input type="radio" id="hard" name="level" value="hard">
                    <label for="hard">Hard</label>
                </form>
                <button type="submit" class="btn btn-dark center">Go to Course</button>
                </div>
            </div>
        </div>


        
        <div class="col-md-4 ">
            <div class="card text-white bg-warning mb-3" style="max-width: 18rem; margin-top: 40px;";>
                <img src="https://images.pexels.com/photos/3672355/pexels-photo-3672355.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="card-img-top" style="height: 200px" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Batch 12 - (6pm to 7pm)</h5>
                  <form method="GET" action="/student/dashboard">
                    <p>Select Level of Course</p>
                    <input type="radio" id="easy" name="level" value="easy">
                    <label for="easy">Easy</label><br>
                    <input type="radio" id="medium" name="level" value="medium">
                    <label for="medium">Medium</label><br>
                    <input type="radio" id="hard" name="level" value="hard">
                    <label for="hard">Hard</label>
                </form>
                <button type="submit" class="btn btn-dark center">Go to Course</button>
                </div>
            </div>
        </div>


        
    </div>


        
    </div>
    



<%- include ("partials/footer.ejs") %>