
<%- include("partials/dashboard_s.ejs") %>

<div class="container" style="width:1000px ; float:right">

    <div class="row">
        <div class="col-md-4 ">
            <div class="card text-white bg-warning mb-3" style="max-width: 18rem; margin-top: 40px;";>
                <img src="https://images.pexels.com/photos/687824/pexels-photo-687824.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="card-img-top" style="height: 200px" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Batch 1 - (7am to 8am)</h5>
                <form method="GET" action="/student/dashboard">
                  Easy
                  <input type="radio" name="easy" value="chkbox">
                  Medium
                  <input type="radio" name="medium" value="chkbox">
                  Hard
                  <input type="radio" name="hard" value="chkbox">

                  <button type="submit" class="btn btn-dark center">Book slot</button>
                </form>

                </div>
            </div>
        </div>

        <div class="col-md-4 ">
            <div class="card text-white bg-warning mb-3" style="max-width: 18rem; margin-top: 40px;";>
                <img src="https://images.pexels.com/photos/3672355/pexels-photo-3672355.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="card-img-top" style="height: 200px" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Batch 1 - (7am to 8am)</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <button type="submit" class="btn btn-dark center">Go to Course</button>
                </div>
            </div>
        </div>

        <div class="col-md-4 ">
            <div class="card text-white bg-warning mb-3" style="max-width: 18rem; margin-top: 40px;";>
                <img src="https://images.pexels.com/photos/6148/brush-makeup-make-up-brushes.jpg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="card-img-top"style="height: 200px" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Primary card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <button type="submit" class="btn btn-dark center">Go to Course</button>
                </div>
            </div>
        </div>

        
    </div>


    <div class="row">
        <div class="col-md-4 ">
            <div class="card text-white bg-warning mb-3" style="max-width: 18rem; margin-top: 40px;";>
                <img src="https://images.pexels.com/photos/2310904/pexels-photo-2310904.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="card-img-top"  style="height: 200px" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Primary card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <button type="submit" class="btn btn-dark center">Go to Course</button>
                </div>
            </div>
        </div>

        <div class="col-md-4 ">
            <div class="card text-white bg-warning mb-3" style="max-width: 18rem; margin-top: 40px;";>
                <img src="https://images.pexels.com/photos/1005638/pexels-photo-1005638.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="card-img-top" style="height: 200px" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Primary card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <button type="submit" class="btn btn-dark center">Go to Course</button>
                </div>
            </div>
        </div>

        <div class="col-md-4 ">
            <div class="card text-white bg-warning mb-3" style="max-width: 18rem; margin-top: 40px; ";>
                <img src="https://images.pexels.com/photos/7096/people-woman-coffee-meeting.jpg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="card-img-top" style="height: 200px;" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Primary card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <button type="submit" class="btn btn-dark center">Go to Course</button>
                </div>
            </div>
        </div>

        
    </div>

    
</div>



<%- include ("partials/footer.ejs") %>