<!DOCTYPE html>
<html>
<head>
<style>
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: #383835}

th {
  background-color: #FECF50;
  color: white;
}
body{
    color:#fff;
  background-color: #000;
    font-size:14px;
    font-family: 'Roboto', sans-serif;
    line-height:1.80857;
}
</style>
</head>
<body>

<h2>Your Timetable</h2>
<div class="container" style="padding:0 ;margin:0; ">
<table>
  <tr>
    <th>Batch Id</th>
    <th>Slot</th>
   
  </tr>
  <tr>
    <td>1</td>
    <td>7-8am</td>
  </tr>
  <tr>
    <td>2</td>
    <td>10-11am</td>
  </tr>
  <tr>
    <td>3</td>
    <td>2-4pm</td>
  </tr>
</table>
</div>
</body>
</html>
