
<%- include("partials/dashboard_h.ejs") %>

<h2>Your Timetable</h2>

<div class="table-responsive">
    <div class="container" style="padding:0 ;margin:0; max-width: 700px;float: none;margin:150px auto;">
        <table class="table table-dark table-hover">
          <tr>
            <th>Batch Id</th>
            <th>Slot</th>
           
          </tr>
          <tr>
            <td>1</td>
            <td>7-8am</td>
          </tr>
          <tr>
            <td>2</td>
            <td>10-11am</td>
          </tr>
          <tr>
            <td>3</td>
            <td>2-4pm</td>
          </tr>
        </table>
        </div>

</div>

<%- include ("partials/footer.ejs") %>