.navbar-default .navbar-toggle .icon-bar{
	background-color: #8dc63f;
}
.main-menu .navbar-default .navbar-nav .active a{
	color: #8dc63f;
}
.main-menu nav li a::after {
    background: #8dc63f;
}
#color-panel a.panel-button{
	color: #8dc63f;
}
#color-panel a.panel-button:hover{
	color: #fff;
}
