.navbar-default .navbar-toggle .icon-bar{
	background-color: linear-gradient(to bottom right, yellow, red);
}
.main-menu .navbar-default .navbar-nav .active a{
  color: linear-gradient(to bottom right, yellow, red);
}
.main-menu nav li a::after {
  background: linear-gradient(to bottom right, yellow, red);
}
#nav_button{
	background-image: linear-gradient(to bottom right, yellow, red);
}
#nav_button:hover{
	border-color: linear-gradient(to bottom right, yellow, red);
}
#color-panel a.panel-button:hover{
	color: linear-gradient(to bottom right, yellow, red);
}
.fa{
	color: linear-gradient(to bottom right, yellow, red);
}
#contact{
	background-image: linear-gradient(to bottom right, yellow, red);
	color:#fff;
}
.gal-item a:after {
	background-color: linear-gradient(to bottom right, yellow, red);
}
