.navbar-default .navbar-toggle .icon-bar{
	background-color: #e75b1e;
}
.main-menu .navbar-default .navbar-nav .active a{
	color: #e75b1e;
}
#nav_button{
	background-color: #e75b1e;
}
#color-panel a.panel-button:hover{
	color: #e75b1e;
}
