body{
	color:#fff;
  background-color: #000;
	font-size:14px;
	font-family: 'Roboto', sans-serif;
	line-height:1.80857;
}

/*------------------------------------------------------------------Preloader-------------------------------------------------------------------*/
#loader  {
     position: fixed;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     background-color: #fefefe;
     z-index: 9999;
     height: 100%;
 }

#status  {
     width: 100%;
     height: 100%;
     position: absolute;
     background-color: #4b4b4b;
     background-image: url(../images/preloader.gif);
     background-repeat: no-repeat;
     background-position: center;
 }


/*------------------------------------------------------------------NAVIGATION BAR-------------------------------------------------------------------*/
.logo{
	float:left;
}
.header-block-top{
	position: absolute;
    z-index: 11;
    width: 100%;
    top: 0;
    left: 0;
}

.header-block-top .navbar-brand {
    margin: 0 !important;
    padding: 15px 0 15px;
    display: inline-block;
    line-height: normal;
    font-size: 100%;
    height: 100%;
}
.main-menu .navbar-default{
	background-color:transparent;
}
.main-menu .navbar{
	min-height:inherit;
	border-radius:0px;
	border:none;
	margin:0px;
}
.main-menu nav .navbar-header .navbar-brand{
	height:inherit;
}

.main-menu nav li a{
	padding: 43px 0px 15px;
	margin: 0 14px;
	color: #303030;
	font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1.6px;
	position:relative;
  transition: color 0.4s;
  font-weight: 500;
  font-size: 14px;
}
.main-menu nav li a::after,  .main-menu nav li a::before{
		content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    transform: scale3d(0, 1, 1);
    transform-origin: center left;
    transition: transform 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.main-menu nav li a::before {
    background: #b5b5b5;
    transition-delay: 0.4s;
}

.main-menu nav li.active a::after, .main-menu nav li.active a::before {
    transform: scale3d(1, 1, 1);
}

.main-menu nav li a:hover::before, .main-menu nav li a:focus::before {
    transform: scale3d(1, 1, 1);
}

.main-menu .navbar-default .navbar-nav .active a{
	background-color:transparent;
	font-weight: bold;
	transform: scale(1.3, 1.3);
	margin-top: -10px;
	letter-spacing: 0.1px;
	color: #fff
}

.fixed-menu {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: #202020;
    transition: 0.5s;
    padding: 10px 0 0 0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.fixed-menu .navbar-brand{
	padding: 10px 0 10px;
}

.fixed-menu .navbar-brand>img {
    max-width: 150px;
}

.fixed-menu .main-menu nav li a{
  padding: 32px 0px 10px 0;
}

#nav_button{
	color: #fff;
	margin-top:15px;
	padding:15px;
	font-size: 15px;
	border-radius: 10px;
}
#nav_button::after{
	padding:10px;
	font-weight: bold;
}
#nav_button:hover{
	box-shadow: 0 0 1000px rgba(0,0,0,1) inset;
  border: 3px solid rgba(255,255,255,1);
  color: rgba(255,255,255,1);
	transition: none;
}
/*------------------------------------------------------------------COLOUR PANEL-------------------------------------------------------------------*/
#color-panel{
	position: fixed;
	width:180px;
	height: auto;
	top:150px;
	text-align:left;
	border:1px solid rgba(100,100,100,0.55);
	z-index: 11;
	border-top-right-radius:5px;
	border-bottom-right-radius:5px;
	transition: all 0.5s;
	box-shadow: 0px 1px 4px rgba(0,0,0, 0.45);
}

.close-color-panel{
	right:-180px;
}

.open-color-panel{
	right:-1px;
}

#color-panel .segment{
	width:100%;
	padding:15px 10px 15px 0;
	border:1px solid rgba(100,100,100,0.55);
	padding:15px 25px;
	background:rgba(50,50,50,0.95);
}

#color-panel a.panel-button{
	position: absolute;
	width:50px;
	height: 50px;
	left:-50px;
	top:30px;
	text-align: center;
	font-size:18px;
	line-height: 47px;
	cursor: pointer;
	border:none;
	border-top-left-radius:5px;
	border-bottom-left-radius:5px;
	color:#d1d1d1;
	background:rgba(100,100,100,0.85);
	transition: all 0.3s;
}

#color-panel a.panel-button i{
	padding:7px;
}

#color-panel a.panel-button:hover{
	color:#35cc75;
}

#color-panel h4{
	margin:3px auto 15px;
	padding-top:0;
	padding-bottom:0;
	color:#ffffff;
}


#color-panel .segment a.switcher{
	width:24px;
	height:35px;
	display: inline-block;
	margin-right:3px;
	margin-top:5px;
	border:1px solid #efefef;
	cursor: pointer;
}

.orange-bg{
	background: #e75b1e;
}

.strong-blue-bg{
	background: #1E69B8;
}

.moderate-green-bg{
	background: #8dc63f;
}

.vivid-yellow-bg{
	background: #fdcb03;
}
